body {
	.col-xs-1, 
	.col-xs-10, 
	.col-xs-11, 
	.col-xs-12, 
	.col-xs-2, 
	.col-xs-3, 
	.col-xs-4, 
	.col-xs-5, 
	.col-xs-6, 
	.col-xs-7, 
	.col-xs-8, 
	.col-xs-9 {	
	width: 100% !important;
	float: none !important;	
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.container {
	padding-left: 0px;
	padding-right: 0px;
	}
}

.tlw-wrapper {
	header[role=banner].header, header[role=banner].abs-header {
	display: block;
	position: static;
	padding: 0px;
	margin: 0px 50px 0px 0px;
	border-bottom: 2px solid gray;
		.logo {
		font-family: sans-serif;
		font-weight: 300;
		text-indent: 0px;
		font-size: 50px;
		text-align: left;
		width: 100%;
		line-height: 100px;
			a {
			pointer-events: none;
			height: 100px;
			line-height: 100px;	
			}
		}	
		
		.container {
		padding-left: 0px;
		padding-right: 0px;
		}
		
		.contact-links, .tag-line, .header-action-btns {
		display: none;	
		}
	}
}


a[href]:after {
content: none !important;
	}
	
#content-extra {
display: block;  	
	&.closed {
	height: auto !important;	
	}
}

.banner-img-wide {
height: auto;	
}
.top-banner {
height: auto;	
}
.title-banner, .lp-header, .banner-title {
font-family: sans-serif;
font-size: 30px;
line-height: 50px;
text-transform: uppercase;
text-align: left;
}

.service-tag {
font-family: sans-serif;
font-size: 30px;
line-height: 50px;
text-transform: uppercase;
}

.banner-img {
font-family: sans-serif;
	h1 {
	font-size: 60px;	
	}
}

time.date {
font-size: 20px;	
text-transform: uppercase;	
}

.content, .content-section {
font-family: sans-serif;
border: none;

	h1 {
	font-size: 60px;	
	margin-bottom: 40px;
	}
	
	h2 {
	font-size: 40px;
	color: #999999 !important;
	margin-bottom: 30px;	
	}
	
	h3 {
	font-size: 30px;
	color: #999999 !important;
	text-transform: uppercase;	
	}
	
	p, ul, ol, p.lead, .faq-question {
	font-weight: normal;
	font-size: 30px;
	line-height: 45px;	
	margin-bottom: 30px;	
	}
	
	p.lead {
	color: #999999 !important;	
	}
	
	.faq-question {
	font-weight: bold;
	}
	
	hr {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
	border-bottom: 1px solid #999999 !important;
		&:before, &:after {
		display: none;	
		}
	}
}

#side-nav, #top-nav,.header-links, .banner-form, .nav-action, .contact-links, .footer-pg-info, .sidebar, .access-btns, .links-menu, 
#footer-info, #search-pop-up, #catapult-cookie-bar, #breadcrumbs,
#booklet-download-btn, #booklet-download,.feat-img-wide,.user-links, .banner-links, .tag-scroller, video,
.pg-section, .page-tools, #quick-links, #scroll-down-btn, 
.header-action-btns, #top-banner, #global-tel-num, #continue-read-btn, #close-content-extra-btn,
#awards-pop-up, #quick-links-sml, #feefo-service-review-floating-widgetId {
display: none;	
	}